<h1><%= @reference.title %><%= "Untitled Reference" unless @reference.title.length > 0 %></h1>
<% unless @user.nil? %><p>Created by <%= @user.name %></p><% end %>
<a href="<%= @reference.link %>">Link</a>
<h2>About this reference</h2>
<p><%= @reference.note %></p>
<p><%= link_to "Edit", edit_reference_path(@reference) %></p>
