<!DOCTYPE html>
<html>
  <head>
    <title>SimpleRef App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div class="container-fluid">
        <%= render "shared/nav" %>

        <%= render "shared/title" %>

        <% if notice %>
          <div class="alert alert-info" role="alert">
            <%= notice %>
          </div>
        <% end %>
        <% if alert %>
          <div class="alert alert-danger" role="alert">
            <%= alert %>
          </div>
        <% end %>

        <%= yield %>
      </div>

  </body>
</html>
