<h1>Hi, <%= current_user.name %>!</h1>
<h2>Welcome back to your reference list manager.</h2>
<%= link_to "Create New Reference", references_create_path %>
<% @references.each do |reference| %>
  <h3><%= reference.title %><%= "Untitled Reference" unless reference.title.length > 0 %></h3>
  <p>Created on <%= reference.created_at.strftime("%a %d %B") %>.
    <%= link_to "View", reference_path(reference) %> 
    <%= link_to "Edit", reference_path(reference) %> <!-- edit this to match Matt's method reference_edit_path-->
    <%= link_to "Delete", reference_path(reference) %> <!-- edit this to match reference_delete_path once pushed to github-->
  </p>
<% end %>
