<div class="jumbotron">
  <h1>Hey, <%= current_user.name %>!</h1>
</div>

<%= link_to "Add Reference", references_create_path %>
<% @references.each do |reference| %>
  <h2><%= reference.title %><%= "Untitled Reference" unless reference.title.length > 0 %></h2>
  <p>Created on <%= reference.created_at.strftime("%a %d %B") %></p>
  <p><%= link_to "View", reference_path(reference) %></p>
<% end %>
