<h1>Hey, <%= current_user.name %>!</h1>

<%= link_to "Add Reference", new_reference_path %>
<h2>Your Latest References</h2>
<% @references.each do |reference| %>
  <h3><%= reference.title %><%= "Untitled Reference" unless reference.title.length > 0 %></h3>
  <p>Created on <%= reference.created_at.strftime("%a %d %B") %></p>
  <p><%= link_to "View", reference_path(reference) %></p>
<% end %>

<h2><%= link_to "View all", references_path %></h2>
