<nav class="navbar navbar-dark bg-inverse">
  <%= link_to "Simpleref", root_path, :class => "navbar-brand" %>
  <ul class="nav navbar-nav">
    <% ((user_signed_in?)? @nav_items_user : @nav_items).each do |i| %>
      <li class="nav-item <%= 'active' if current_page?(i[:url]) %>">
        <a href="<%= i[:url] %>" class="nav-link"><%= i[:name] %>
          <% if current_page?(i[:url]) %> <span class="sr-only">(current)</span><% end %>
        </a>
      </li>
    <% end %>
    <% if user_signed_in? %>
      <li class="nav-item">
      <%= link_to "Sign Out", destroy_user_session_path, method: 'delete', class: "btn btn-primary" %>
      </li>
    <% end %>
  </ul>
</nav>
